# For more help, visit the .dockerignore file reference guide at
# https://docs.docker.com/go/build-context-dockerignore/

**/.classpath
**/.cache
**/.dockerignore
**/.env
**/.git
**/.gitignore
**/.next
**/.project
**/.settings
**/.toolstarget
**/.vs
**/.vscode

**/build
**/charts
**/coverage
**/dist
**/docs
**/logs
**/node_modules
**/obj

**/.dockerignore
**/.gitignore
**/.prettierrc

**/*.*proj.user
**/*.dbmdl
**/*.jfm
**/docker-compose*
**/compose.y*ml
**/Dockerfile*
**/npm-debug.log
**/secrets.dev.yaml
**/values.dev.yaml

**/LICENSE
**/eslint.config.js
**/README.md
**/swagger.js
